<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <link rel="stylesheet" href="css/common.css" />

    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <title>Lending Hat</title>
  </head>
  <body class="full-width">
    <header class="bt">
      <div class="new-container">
        <div class="flex-box">
          <div class="logo-box">
            <a href=""><img src="img/logo.svg" alt="" /></a>
          </div>
          <div class="new-btn-box">
            <a href="" class="dk"
              ><img src="img/phone-phn.png" alt="" />Call us at
              1-800-413-3220</a
            >
            <a href="" class="mobile-btn"
              ><img src="img/callbtn.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </header>

    <div class="banner-section form-banner">
      <div class="new-container">
        <div class="heading-box">
          <h1>Lending Solutions Simplified</h1>
          <h5>Simple, Smarter Technology for higher approval</h5>
        </div>
        <div class="white-form-section">
          <form action="">
            <fieldset class="showfieldset">
              <div class="bar"></div>
              <h3>Enter Your Full Name</h3>
              <input type="text" placeholder="" />
              <p>
                Just answer a few questions to see your options. It’s free &
                won’t impact your credit score.
              </p>
            </fieldset>

            <fieldset>
              <div class="bar"></div>
              <h3>Enter Your company Name</h3>
              <input type="text" placeholder="" />
              <p>
                Just answer a few questions to see your options. It’s free &
                won’t impact your credit score.
              </p>
            </fieldset>

            <button class="next action-button">Continue</button>
          </form>
        </div>
      </div>
      <button type="submit" class="next action-button mobile-btn">
        Continue
      </button>
    </div>

    <!-- <button  id="link-button">click</button> -->

    <div class="desktop-screen">
      <div class="application-section com-padding">
        <div class="new-container">
          <ul class="application-list flex-box">
            <li>
              <img src="img/application-icon-1.png" alt="" />
              <h5>Quick application</h5>
              <p>
                Applying is quick and easy, and you can get a credit decision in
                as little as 3 minutes.
              </p>
            </li>
            <li>
              <img src="img/application-icon-2.png" alt="" />
              <h5>Fast access to funds</h5>
              <p>
                Funds can be available as soon as the next business day if
                approved.
              </p>
            </li>
            <li>
              <img src="img/application-icon-3.png" alt="" />
              <h5>Flexible repayment terms</h5>
              <p>
                Choose your repayment plan each time you draw funds—with no
                prepayment penalty.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="with-lending-section com-padding">
        <div class="new-container">
          <div class="col-5 new-text-box">
            <h6>With lending hat, its simple</h6>
            <h2>Minutes not days, that's all it takes with lending hat</h2>
            <img src="img/with-lending-img.png" alt="" class="mobile-img" />
            <p>
              Say goodbye to confusing fees, double meaning, and confusing
              financial terms. We keep things simple.
            </p>
            <a href="" class="new-btn">Get Started</a>
          </div>
        </div>
      </div>
      <div class="finances-section com-padding">
        <div class="new-container">
          <div class="flex-box">
            <div class="col-6 img-box">
              <img src="img/finances-img.png" alt="" />
            </div>
            <div class="new-text-box col-35">
              <h6>FINANCES UNDER CONTROL</h6>
              <h2>Compare loans and find the best one</h2>
              <img src="img/finances-img.png" alt="" class="mobile-img" />
              <p>
                Fill out one request form, get access to exclusive deals and see
                your chance of being accepted
              </p>
              <a href="" class="new-btn">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="community-section com-padding">
        <div class="new-container">
          <div class="flex-box">
            <div class="new-text-box col-35">
              <h6>Community</h6>
              <h2>Join The Lending Hat Community.</h2>
              <img src="img/community-img.png" alt="" class="mobile-img" />
              <p>
                Fill out one request form, get access to exclusive deals and see
                your chance of being accepted
              </p>
              <a href="" class="new-btn">Get Started</a>
            </div>
            <div class="col-5 img-box">
              <img src="img/community-img.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="members-section">
        <div class="new-container">
          <div class="heading-box">
            <h2>
              Loved by the community, <span>900,000 members and counting</span>
            </h2>
            <p>
              As a lending hat member, you'll get access to exclusive benefits
              that help set you up for success with your money, community , and
              career at no cost
            </p>
          </div>
          <div class="members-boxs">
            <div class="item">
              <div class="members-box flex-box">
                <div class="img-box">
                  <img src="img/members-img.png" alt="" />
                </div>
                <div class="new-text-box">
                  <h4>
                    "With lending hat, you get much more than a loan. They've
                    shown that they think about me in their services and truly
                    value and reward their members"
                  </h4>
                  <div class="name">
                    <h5>ALEX.J. LENDING HAT</h5>
                    <span>Ambassador</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="members-section success-section com-padding">
        <div class="new-container">
          <div class="heading-box">
            <h6>Success Rate of lending hat</h6>
            <h2>
              Join the 500,000 Businesses that have<br />
              connected to lending hat
            </h2>
          </div>
          <ul class="application-list flex-box">
            <li>
              <img src="img/$3b+.png" alt="" />
              <h5>
                Working capital<br />
                unlocked
              </h5>
            </li>
            <li>
              <img src="img/Group1693.png" alt="" />
              <h5>
                Rated 4.8/5 star<br />
                from 3k+ reviews
              </h5>
            </li>
            <li>
              <img src="img/Group1695.png" alt="" />
              <h5>A+ Raiting, Better <br />Business Bureau</h5>
            </li>
          </ul>
        </div>
      </div>
      <div class="blue-bar-section"></div>
    </div>

    <!-- <script type="text/javascript">
        (function($) {
          var handler = Plaid.create({
            clientName: "Plaid Quickstart", 
            countryCodes: ["US"],
            env: "sandbox", 
            key: "067daf1cd400ac6ef1e15d35f6edb5",
            product: ["transactions"], 
            webhook: "https://requestb.in", 
            language: "en", 
            userLegalName: "John Appleseed",
            userEmailAddress: "jappleseed@yourapp.com",
            onLoad: function() {
           },
            onSuccess: function(public_token, metadata) {
              console.log(public_token)
              $.post("/plaid_token_exchange", {
                publicToken: public_token
              });
            },
            onExit: function(err, metadata) {
              if (err != null) {
               }
              },
  
            onEvent: function(eventName, metadata) {
  
            }
          });
  
          $("#link-button").on("click", function(e) {
            handler.open();
          });
        })(jQuery);
      </script>
   -->

    <script>
      $(".action-button").click((e) => {
        alert();
      });

      $(".next").click(function () {
        var form = $("#myform");
        form.validate({
          errorElement: "span",
          errorClass: "help-block",
          highlight: function (element, errorClass, validClass) {
            $(element).closest(".form-group").addClass("has-error");
          },
          unhighlight: function (element, errorClass, validClass) {
            $(element).closest(".form-group").removeClass("has-error");
          },
          rules: {
            username: {
              required: true,
              usernameRegex: true,
              minlength: 6,
            },
            password: {
              required: true,
            },
            conf_password: {
              required: true,
              equalTo: "#password",
            },
            company: {
              required: true,
            },
            url: {
              required: true,
            },
            name: {
              required: true,
              minlength: 3,
            },
            email: {
              required: true,
              minlength: 3,
            },
          },
          messages: {
            username: {
              required: "Username required",
            },
            password: {
              required: "Password required",
            },
            conf_password: {
              required: "Password required",
              equalTo: "Password don't match",
            },
            name: {
              required: "Name required",
            },
            email: {
              required: "Email required",
            },
          },
        });
        if (form.valid() === true) {
          if ($("#account_information").is(":visible")) {
            current_fs = $("#account_information");
            next_fs = $("#company_information");
          } else if ($("#company_information").is(":visible")) {
            current_fs = $("#company_information");
            next_fs = $("#personal_information");
          }

          next_fs.show();
          current_fs.hide();
        }
      });

      $("#previous").click(function () {
        if ($("#company_information").is(":visible")) {
          current_fs = $("#company_information");
          next_fs = $("#account_information");
        } else if ($("#personal_information").is(":visible")) {
          current_fs = $("#personal_information");
          next_fs = $("#company_information");
        }
        next_fs.show();
        current_fs.hide();
      });

      // $('.white-form-section fieldset').css('display')
    </script>
  </body>
</html>
