<!DOCTYPE html>
<html>
  <head>
    <style>
      .outer-border {
        margin: 0px auto;
        width: 70%;
        height: auto;
        padding: 20px;
        text-align: center;
        border: 3px solid #668df6;
        font-size: large;
        font-weight: 200;
      }
      .logo {
        height: 150px;
        width: 200px;
        margin-left: 55px;
      }
      img {
        height: 100%;
        width: 100%;
      }
      .confirm {
        width: 900px;
        margin: 10px auto;
        margin-top: 20px;
        text-align: left;
      }
      table {
        width: 900px;
        margin: 0px auto;
      }
      table,
      th,
      td {
        border: 2px solid #060606;
        border-collapse: collapse;
        height: 35px;
        text-align: left;
      }

      th {
        font-weight: bolder;
        color: whitesmoke;
        font-size: larger;
        background: #000;
      }

      .details {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="outer-border">
      <div class="logo">
        <img src="Hatlogo.PNG" />
      </div>
      <div>
        <table>
          <tr>
            <th colspan="14">A. Business Information</th>
          </tr>
          <tr>
            <td colspan="3">
              Business Legal Name(Merchant):<%= userDetails.fullName %>
            </td>
            <td colspan="5">Business DBA Name:</td>
          </tr>
          <tr>
            <td colspan="3">Street Address:</td>
            <td colspan="5">City:</td>
          </tr>
          <tr>
            <td>State:</td>
            <td colspan="2">Zip:</td>
            <td colspan="2">Phone:</td>
          </tr>
          <tr>
            <td colspan="3">Website:</td>
            <td colspan="5">Mobile:</td>
          </tr>
          <tr>
            <td colspan="3">
              Legal Entity:
              <input type="checkbox" />Corp <input type="checkbox" />Solo Prop
              <input type="checkbox" />LLC <input type="checkbox" />Partnership
            </td>
            <td colspan="5">Email:</td>
          </tr>
          <tr>
            <td colspan="3">
              Business Location: <input type="checkbox" />Store Front<input
                type="checkbox"
              />Office <input type="checkbox" />Home
              <input type="checkbox" />Other
            </td>
            <td colspan="5">Industry:</td>
          </tr>
          <tr>
            <td colspan="3">Date Business Started:</td>
            <td colspan="5">Federal State Tax #:</td>
          </tr>
          <tr>
            <th colspan="14">B. Business References</th>
          </tr>
          <tr>
            <td>Trade Reference:</td>
            <td>Name:</td>
            <td>Phone:</td>
            <td>
              <input type="checkbox" />Rent
              <input type="checkbox" />Mortgage<br />
              <input type="checkbox" />Lease <input type="checkbox" />Own
              Property
            </td>
            <td colspan="4">Landlord/Mortgage Company Name:</td>
          </tr>
          <tr>
            <td>Trade Reference:</td>
            <td>Name:</td>
            <td>Phone:</td>
            <td colspan="2">Phone:</td>
          </tr>
          <tr>
            <th colspan="3">C. Owner/Principle Information</th>
            <th colspan="5">Owner #2(if Applicable)</th>
          </tr>
          <tr>
            <td colspan="3">Name:</td>
            <td colspan="5">Name:</td>
          </tr>
          <tr>
            <td colspan="3">Address:</td>
            <td colspan="5">Address:</td>
          </tr>
          <tr>
            <td colspan="3">City, State, Zip:</td>
            <td colspan="5">City, State, Zip:</td>
          </tr>
          <tr>
            <td colspan="3">Phone:</td>
            <td colspan="5">Phone:</td>
          </tr>
          <tr>
            <td colspan="3">Email:</td>
            <td colspan="5">Email:</td>
          </tr>
          <tr>
            <td>% of Ownership:</td>
            <td colspan="2">Date of Birth</td>
            <td>% of Ownership:</td>
            <td colspan="2">Date of Birth</td>
          </tr>
          <tr>
            <td colspan="3">SSN#:</td>
            <td colspan="5">SSN#:</td>
          </tr>
          <tr>
            <td colspan="3">Driver`s License#:</td>
            <td colspan="5">Driver`s License#:</td>
          </tr>
          <tr>
            <th colspan="14">D. Funding Information</th>
          </tr>
          <tr>
            <td colspan="2">Your Annual Business Revenue</td>
            <td colspan="2">Your Monthly Credit Card Volume:</td>
            <td colspan="2">Your Average Bank Balance:</td>
          </tr>
          <tr>
            <td colspan="2">Current Advance Balance?</td>
            <td colspan="2">Funding Amount Requested:</td>
            <td colspan="2">Use of funds:</td>
          </tr>
          <tr>
            <td colspan="2">Dialy Payments of Current Advance</td>
            <td colspan="2">Current Advance held With:</td>
            <td colspan="2">Funding Date of Current Advance:</td>
          </tr>
        </table>
        <div class="confirm">
          By signing below, the merchant and it`s owners/ principle(1) certify
          that all information and documents submitted connection with this
          application is true, correct and complete and(2) authorize our
          partners and lenders to obtain credit reports and any other
          information regarding the merchant and it`s owners and principles from
          third party to verify any information provided on the application.
        </div>
        <div class="details">
          <table style="border: none">
            <tr>
              <td colspan="2" style="border: none; height: 100px">
                Owner/Principle Signature: <label>_____________________</label>
              </td>
              <td colspan="2" style="border: none; height: 50px">
                Owner/Principle Signature:
                <label>_____________________</label>
              </td>
            </tr>
            <tr>
              <td style="border: none">
                Print Name:<label>_______________</label>
              </td>
              <td style="border: none">Date:<label>________________</label></td>
              <td style="border: none">
                Print Name:<label>________________</label>
              </td>
              <td style="border: none; height: 50px">
                Date:<label>______________</label>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
